<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="box_inertia" params="m w h d xyz rpy">
        <inertial>
            <mass value="${m}" />
            <origin xyz="${xyz}" rpy="${rpy}" />
            <inertia
                ixx="${(1.0/12.0)*m*(h*h + d*d)}"
                iyy="${(1.0/12.0)*m*(w*w + d*d)}"
                izz="${(1.0/12.0)*m*(w*w + h*h)}"
                ixy="0.0" ixz="0.0" iyz="0.0" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertia" params="m r h xyz rpy">
        <inertial>
            <mass value="${m}" />
            <origin xyz="${xyz}" rpy="${rpy}" />
            <inertia
                ixx="${(1.0/12.0) * m * (3 * r * r + h * h)}"
                iyy="${(1.0/12.0) * m * (3 * r * r + h * h)}"
                izz="${0.5 * m * r * r}"
                ixy="0.0" ixz="0.0" iyz="0.0" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="sphere_inertia" params="m r xyz rpy">
        <inertial>
            <mass value="${m}" />
            <origin xyz="${xyz}" rpy="${rpy}" />
            <inertia
                ixx="${(2.0/5.0) * m * r * r}"
                iyy="${(2.0/5.0) * m * r * r}"
                izz="${(2.0/5.0) * m * r * r}"
                ixy="0.0" ixz="0.0" iyz="0.0" />
        </inertial>
    </xacro:macro>
</robot>