<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="SixAxisServoArm" type="system">
        <hardware>
            <plugin>servo_hardware/ServoHardware</plugin>
            <param name="device">/dev/ttyACM0</param>
            <param name="baud_rate">1000000</param>
        </hardware>

        <joint name="joint1">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <command_interface name="acceleration" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <param name="id">1</param>
        </joint>

        <joint name="joint2">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <command_interface name="acceleration" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <param name="id">2</param>
        </joint>

        <joint name="joint3">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <command_interface name="acceleration" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <param name="id">3</param>
        </joint>

        <joint name="joint4">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <command_interface name="acceleration" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <param name="id">4</param>
        </joint>

        <joint name="joint5">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <command_interface name="acceleration" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <param name="id">5</param>
        </joint>

        <joint name="joint6">
            <command_interface name="position" />
            <command_interface name="velocity" />
            <command_interface name="acceleration" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <param name="id">6</param>
        </joint>
    </ros2_control>

</robot>